<header>
	<div id="header">
		<div id="logo">
			<a href="{{ path('home')}}">
				<img src="{{ asset('build/images/wikitendo_logo_white.png') }}" alt="wikitendo logo">
			</a>
		</div>
		<nav id="menu">
			<ul>
				<li><a href="/">Accueil</a></li>
				<li><a href="/admin">Admin</a></li>
			</ul>
		</nav>
	</div>
</header>
