<header>
    <div>
        <div id="logo">
            <img src="{{ asset('build/images/wikitendo_logo_white.png') }}" alt="wikitendo logo">
        </div>
        <nav>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="">Catégories</a></li>
                <li><a href="">Produits</a></li>
            </ul>
        </nav>
    </div>
</header>