<header>
    <div>
        <div id="logo">
            <img src="{{ asset('build/images/wikitendo_logo_white.png') }}" alt="wikitendo logo">
        </div>
        <nav>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="">Connexion</a></li>
                <li><a href="">Inscription</a></li>
            </ul>
        </nav>
    </div>
</header>