<div id="sidebar">
    <div>
        <span>Consoles</span>
    </div>
    <div>
        <span>Licences</span>
    </div>
    <div>
        <span>3</span>
    </div>
    <div>
        <span>4</span>
    </div>
</div>