<div id="sidebar">
	<div>
		<span>
			<a href="{{ path('consoles_list') }}">
				Consoles
			</a>
		</span>
	</div>
	<div>
		<span>
			<a href="{{ path('licences_list') }}">
				Licences
			</a>
		</span>
	</div>
	<div>
		<span>
			<a href="{{ path('articles_list') }}">
				Articles
			</a>
		</span>
	</div>
	<div>
		{% if is_granted('ROLE_MODERATOR') %}
			<span>
				<a href="{{ path('admin') }}">
					Admin
				</a>
			</span>
		{% endif %}
	</div>
</div>
