<div id="sidebar">
	<div>
		<span>
			<a href="{{ path('consoles_list') }}">
				<svg style="width: 12px; height: 12px; " version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve">
					<polygon points="0 0 480 0 48 48"></polygon>
				</svg>
				<p>
					<i class="fa-solid fa-gamepad"></i>
					<br>
					Consoles
				</p>
			</a>
		</span>
	</div>
	<div>
		<span>
			<a href="{{ path('licences_list') }}">
				<svg style="width: 12px; height: 12px; " version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve">
					<polygon points="0 0 480 0 48 48"></polygon>
				</svg>
				<p>
					<i class="fa-solid fa-dungeon"></i>
					<br>
					Licences
				</p>
			</a>
		</span>
	</div>
	<div>
		<span>
			<a href="{{ path('articles_list') }}">
				<svg style="width: 12px; height: 12px; " version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve">
					<polygon points="0 0 480 0 48 48"></polygon>
				</svg>
				<p>
					<i class="fa-solid fa-scroll"></i>
					<br>
					Articles
				</p>
			</a>
		</span>
	</div>
	<div>
		{% if is_granted('ROLE_MODERATOR') %}
			<span>
				<a href="{{ path('admin') }}">
					<svg style="width: 12px; height: 12px; " version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve">
						<polygon points="0 0 480 0 48 48"></polygon>
					</svg>
					<p>
						<i class="fa-solid fa-screwdriver-wrench"></i>
						<br>
						Admin
					</p>
				</a>
			</span>
		{% endif %}
	</div>
</div>
