<div id="sidebar">
	<div>
		<span>
			<a href="{{ path('consoles_list') }}">
				Consoles
			</a>
		</span>
	</div>
	<div>
		<span>
			<a href="{{ path('licences_list') }}">
				Licences
			</a>
		</span>
	</div>
	<div>
		<span>
			<a href="{{ path('articles_list') }}">
				Articles
			</a>
		</span>
	</div>
	<div>
		<span>
			<a href="">
				Indépendants
			</a>
		</span>
	</div>
</div>
