@mixin button {
    border: solid 1px $red;
    background-color: $red;
    width: 100%;
    transition: all ease 0.3s;

    &:hover {
        background-color: $white;
        a {
            color: $red;
        }
    }

    a {
        display: inline-block;
        width: 100%;
    }
}