.commentSection {
    h5 {
        padding: 10px;
    }
    .commentList {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: $white;
        margin-top: 10px;

        .comment {
            padding: 10px;
        }
    }
}

.commentForm {
    display: flex;
    justify-content: center;
    background-color: $white;
    margin: 10px 0 50px;
    width: 100%;
    button {
        background-color: $red;
        border: none;
        &:hover {
            background-color: $darkGray;
        }
    }
}
