.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.galleryBody {
    div {
        padding: 0 10px;
        text-align: justify;
    }
}

.gallery div {
    width: 250px;
}

.gallery>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
    margin-bottom: 60px;
    border-radius: 7px;
    overflow: hidden;
}

.gallery>div>div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: $white;
}

.gallery img {
    border-bottom: solid 1px $red;
    width: 100%;
    height: 200px;
    object-fit: contain;
    background-color: white;
}

.gallery .year {
    font-size: 0.8rem;
    color: $gray;
}

.gallery p {
    padding: 5px 15px 5px 15px;
    text-align: justify;
}

.gallery button {
    @include button;
    padding: 7px;
    border-radius: 0 0 7px 7px;
}