.show {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .cardDescription {
        display: flex;
        background-color: $darkGray;
        padding: 10px;
        border-radius: 10px;
        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}

.show div {
    width: 100%;
}

// NE PAS TOUCHER
// .show>div {
//     // display: flex;
//     // justify-content: space-around;
//     // // align-items: center;
//     // background-color: $darkGray;
//     // border-top-left-radius: 10px;
//     // border-bottom-left-radius: 10px;
//     // // margin-right: 15px;
//     // // margin-bottom: 160px;
// }

// .show>div>div {
//     // display: flex;
//     // flex-direction: column;
//     // flex-grow: 1;
//     // background-color: $white;
//     // height: 100%;
// }

.headerArticle {
    display: flex;
    align-items: center;
    background-color: $darkGray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    justify-content: space-between;
    span {
        padding: 10px;
    }
}

.bodyArticle {
    text-align: justify;
    background-color: $lightGray;
    padding: 15px 15px;
    div {
        padding: 15px 0 !important;
    }
}

.show img {
    width: 250px;
    height: 250px;
    padding: 20px;
    object-fit: contain;
}

.show .year {
    font-size: 0.8rem;
    color: $gray;
}

.show p {
    padding: 5px 15px 5px 15px;
    text-align: justify;
    color: $lightGray;
}

/* HR CSS */

hr {
    border: none;
    opacity: 1;
}

.divider {
    display: flex;

    &:before,
    &:after {
        content: "";
        flex: 1;
    }
}

.line {
    align-items: center;

    &:before,
    &:after {
        height: 1px;
        margin: 0 1em;
    }
}

.glow {

    &:before,
    &:after {
        height: 6px;
        -webkit-filter: blur(5px);
        border-radius: 5px;
    }

    &:before {
        background: linear-gradient(to right, $red, $red);
    }

    &:after {
        background: linear-gradient(to left, $red, $red);
    }
}