{% extends 'front/layout/layout.html.twig' %}

{% block title %}
	Liste des articles
{% endblock %}

{% block body %}
	{% include "front/layout/header.html.twig" %}
	{% include "front/layout/sidebar.html.twig" %}
	<section id="main">
		<div>
			<p>
				ARTICLES :
			</p>
			{% for article in articles %}
				{{ article.name | upper }}
			{% endfor %}
		</div>
	</section>
	{% include "front/layout/footer.html.twig" %}
{% endblock %}
