{% extends 'front/layout/layout.html.twig' %}

{% block title %}
	Liste des articles
{% endblock %}

{% block body %}
	{% include "front/layout/header.html.twig" %}
	{% include "front/layout/sidebar.html.twig" %}
	<section id="main">
		<div>
			<div class="main_title">
				<h2>
					Éditon
					<span>
						{{article.name}}
					</span>
				</h2>
			</div>
			<div id="editArticle">
				<div class="editImg">
					<img src="/build/images/article_img/{{ article.img }}" alt="">
				</div>
				{{ form(article_form) }}
				</div>
			</div>
		</section>
		{% include "front/layout/footer.html.twig" %}
	{% endblock %}
