{% extends 'front/layout/layout.html.twig' %}

{% block title %}Connection{% endblock %}

{% block body %}
    {% include "front/layout/header.html.twig" %}
    {% include "front/layout/sidebar.html.twig" %}
    <section id="main">
        {% if not app.user %}
            <div class="mb-3">
                Vous n'êtes pas connecté, veuillez vous connecter , <a href="{{ path('login') }}">Connection</a>
            </div>
        {% else %}
            <div class="mb-3">
                Vous êtes connecté en tant que {{ app.user.username }}
            </div>
        {% endif %}
    </section>
    {% include "front/layout/footer.html.twig" %}
{% endblock %}
