footer>div {
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    align-items: center;
    bottom: 0;
    left: 7rem;
    background-color: $red;
    border-top: solid 2px $white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 40px;
    width: 100%;
    z-index: 998;
}

footer p {
    font-size: 0.7rem;
    color: $lightGray;
    margin-top: 0;
    margin-bottom: 0;
}

.copyright {
    display: flex;
    align-items: center;
}

@media only screen and (max-width : 430px) {
    footer>div {
        left: 0;
    }
}