{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'front/layout/layout.html.twig' %}

{% block title %}
    WIKITENDO - Error 404
{% endblock %}

{% block body %}
    {% include "front/layout/header.html.twig" %}
    {% include "front/layout/sidebar.html.twig" %}
    <section id="main">
        <div>
            <div id="error">
                <h1>Page introuvable</h1>
                <div>
                    La page que vous recherchez n'existe pas ou plus.<br>
                    Vérifiez l'adresse saisie ou retournez à l'accueil en cliquant sur le bouton ci-dessous.
                </div>
            </div>
        </div>
    </section>
    {% include "front/layout/footer.html.twig" %}
{% endblock %}